{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Story 9 Ano</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<style>
    body{
        background-color: #CC3434;
        font-family: Arial, Helvetica, sans-serif;
    }

    #search{
        width: 50%;
        height: 35px;
        margin-left: 22%;
        border-radius: 5px;
        border: 1px solid black;
        margin-bottom: 3%;
        background-color: #fff;
        color: black;
    }

    #button{
        width: 70px;
        height: 36px;
        text-align: center;
        font-size: 100%;
        border-radius: 5px;
        border: 1px solid black;
        background-color:rgb(218, 228, 248);
        font-family: Arial, Helvetica, sans-serif;
    }

    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: center;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .judul{
        font-size: 17px;
        width: 40%;
        font-weight: bold;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }

    .line{
        width: 78vw;
        height: 3px;
        top: 9vw;
        margin-bottom: 1%;
        margin-top: 1%;
        background: black;
    }

    .tulisan{
        font-size: 17px ;
        width: 20%;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }

    img{
        margin-bottom: 1%;
    }

    table{
        width: 100%;
        height: 100px;
        border-collapse: collapse;
        background-color: rgb(218, 228, 248);
    }

    td{
        text-align: center;
    }

    th{
        text-align: center;
    }

    .number{
        width: 10%;
    }


    .gambar{
        width: 15%;
    }
</style>
<body>
<div class="container" >
    <div class="row">
        <div>
            <center>


                <br>

                <button type="button" id = "showModal" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
                    Best Five Books
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">TOP 5 BOOKS</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id = "body" style="text-align: left;">
                                <h3>5 most liked books</h2>
                                    <ul id = "modalResult">


                                    </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



            </center>






        </div>
    </div>
    </div>
    <div class="col-12 form">
        <h1> search your book! </h1>
        <input id="search" placeholder="Search">
        <button id="button" name="button">Go!</button>
        <table border='1'>
            <tr>
                <th class=number>Number</th>
                <th class=gambar>Cover</th>
                <th class=judul>Title</th>
                <th class=tulisan>Author</th>
                <th class=tulisan>Published Date</th>
                <th class=tulisan>Like</th>
                <th class=tulisan>Like Result</th>
            </tr>
        </table>
        <div id="results"></div>
    </div>
    <script src="{% static 'myscript.js' %}"></script>
</body>
<script type="text/javascript">
    function bookSearch(){

        var search = document.getElementById('search').value
        document.getElementById('results').innerHTML = ""
        console.log(search)


        $.ajax({
            url:"https://www.googleapis.com/books/v1/volumes?q=" + search,
            dataType: "json",
            success: function (data) {
                for (i = 0; i < data.items.length ; i++) {
                    if(data.items[i].volumeInfo.imageLinks == undefined ){
                        results.innerHTML +=
                            "<table border=1>" +
                            "<tr>" +
                            "<td class=number >" + (i+1) +"</td>" +
                            "<td class=gambar> <strong>no image " +
                            "</td>" +
                            "<td class=judul>" + data.items[i].volumeInfo.title + "</td>" +
                            "<td class=tulisan>" + data.items[i].volumeInfo.authors +  "</td>" +
                            "<td class=tulisan>" + data.items[i].volumeInfo.publishedDate +  "</td>" +
                            "<td class=tulisan>" + data.items[i].volumeInfo.like +  "</td>" +
                            "<td class=tulisan>" + data.items[i].volumeInfo.likeResult +  "</td>" +

                            "</tr>"+
                            "</table>";
                    }else{
                        results.innerHTML +=
                            "<table border=1>" +
                            "<tr>" +
                            "<td class=number >" + (i+1) +"</td>" +
                            "<td class=gambar>" +
                            "<img src= " + data.items[i].volumeInfo.imageLinks.thumbnail+ "/>"+
                            "</td>" +
                            "<td class=judul>" + data.items[i].volumeInfo.title + "</td>" +
                            "<td class=tulisan>" + data.items[i].volumeInfo.authors +  "</td>" +
                            "<td class=tulisan>" + data.items[i].volumeInfo.publishedDate +  "</td>" +
                            "<td class=tulisan>" + data.items[i].volumeInfo.like +  "</td>" +
                            "<td class=tulisan>" + data.items[i].volumeInfo.likeResult +  "</td>" +
                            "</tr>"+
                            "</table>";
                    }
                }

            },
            type: "GET" //rest Type

        });
    }

    document.getElementById('button').addEventListener('click', bookSearch, false)

    $.ajax({

        url:"https://www.googleapis.com/books/v1/volumes?q=Spongebob",
        success: function (data) {
            for (i = 0; i < data.items.length ; i++) {
                if(data.items[i].volumeInfo.imageLinks == undefined ){
                    results.innerHTML +=
                        "<table border=1>" +
                        "<tr>" +
                        "<td class=number >" + (i+1) +"</td>" +
                        "<td class=gambar> <strong>no image " +
                        "</td>" +
                        "<td class=judul>" + data.items[i].volumeInfo.title + "</td>" +
                        "<td class=tulisan>" + data.items[i].volumeInfo.authors +  "</td>" +
                        "<td class=tulisan>" + data.items[i].volumeInfo.publishedDate +  "</td>" +
                        "<td class=tulisan>" + data.items[i].volumeInfo.like +  "</td>" +
                        "<td class=tulisan>" + data.items[i].volumeInfo.likeResult +  "</td>" +
                        "</tr>"+
                        "</table>";

                }else{
                    results.innerHTML +=
                        "<table border=1>" +
                        "<tr>" +
                        "<td class=number >" + (i+1) +"</td>" +
                        "<td class=gambar>" +
                        "<img src= " + data.items[i].volumeInfo.imageLinks.thumbnail+ "/>"+
                        "</td>" +
                        "<td class=judul>" + data.items[i].volumeInfo.title + "</td>" +
                        "<td class=tulisan>" + data.items[i].volumeInfo.authors +  "</td>" +
                        "<td class=tulisan>" + data.items[i].volumeInfo.publishedDate +  "</td>" +
                        "<td class=tulisan>" + data.items[i].volumeInfo.like +  "</td>" +
                        "<td class=tulisan>" + data.items[i].volumeInfo.likeResult +  "</td>" +
                        "</tr>"+
                        "</table>";
                }
            }

        },
        type: "GET" //rest Type

    });

</script>
</html>

